<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.criptext.mail">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".CriptextApplication"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <meta-data
            tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <activity
            android:name=".scenes.mailbox.MailboxActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <data android:scheme="mailto"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="mailto"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".scenes.search.SearchActivity"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Splash.Criptext"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.criptext.mail.scenes.signin.SignInActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.criptext.mail.scenes.signup.SignUpActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.criptext.mail.scenes.emaildetail.EmailDetailActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".scenes.composer.ComposerActivity"
            android:label="@string/title_activity_composer"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".scenes.settings.SettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".scenes.settings.signature.SignatureActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".androidtest.TestActivity"
            android:exported="false"/>
        <activity
            android:name=".scenes.WebViewActivity"
            android:theme="@style/AppThemeWithActionBar"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".scenes.settings.recovery_email.RecoveryEmailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scenes.settings.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scenes.linking.LinkingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scenes.settings.pinlock.pinscreen.LockScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scenes.settings.pinlock.PinLockActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.InstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".push.services.LinkDeviceActionService"
            android:exported="false"/>

        <service
            android:name=".services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".push.services.NewMailActionService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b4ddc55293ff0e9bf22a8927dc076a5ac0b17ec" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.criptext.mail.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
